body {
  grid-template-areas: 'header'
                'graph'
                'graph'
                'result_table'
                'result_table'
                'result_table'
                'result_table'
                'footer';
}

.graph {
  grid-area: graph;
}

.result_table {
  grid-area: result_table;
  margin: 10px 15px;
}

.result_table table {
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: white;
  border-radius: 0 0 50px 50px;
}

.result_table table tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.result_table table td:empty {
  display: none !important;
}

.fields {
  grid-area: fields;
  margin-bottom: 50px;
}

form .input {
  margin-top: 15px;
}

form input[type=text] {
  width: 300px;
  padding: 10px;
  border-radius: 50px;
  border: 3px solid #446a12;

}

form input[type=button] {
  font-size: 15px;
  color: white;
  background-color: #bdd986;
  border-radius: 7px;
  padding: 8px;
  margin: 5px 5px 10px;
  border: none;
  cursor: pointer;
  width: 50px;
}

.message {
  color: red;
}

.form-buttons input {
  font-size: 30px;
  margin: 25px 200px 5px;
  height: 50px;
  width: 300px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #83bd1a;
  cursor: pointer;
}

th, td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
}

th {
  background-color: #83bd1a;
  color: white;
  text-align: center;
  text-decoration: underline;
}

svg {
  margin: 50px 0 50px 0;
  cursor: crosshair;
}

svg .graph_part {
  fill: #bdd986;
  stroke: #112102;
  fill-opacity: 0.35;
}
